html {height: 100%;}
body {
	height: 100%;
	font: 14px/18px 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #f8f8f6;
}

ol, ul {
	list-style: none;
}

.container {
	width: 940 px;
	margin: 0 auto;
}

#header {
	padding: 10px, 0;
	width: 100%;
	text-align: center;
}

.logo {
	margin-top: 5px;
	font-size: 32px;
	text-align: center;
}
.logo a,
.logo h1 {
     display: inline-block;   
     vertical-align: middle;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.nav {	
	background-color: #333;
}
.nav li,
.nav a {
	margin: 2px;
    display: inline-block;  
	margin-right: 20px;
	text-decoration: none;
	text-transform: uppercase;
	font: 16px Arial, sans-serif;
	color: #fff;
}
.nav li:last-child {
	margin-right: 0px;	
}