.example-icon {
    padding: 0 16px 0 0;
    height: 90px;
    width: 90px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .nav {
	height: 90px;
	background-color: #f8f8f6;
    padding-top: 12px;
    margin-top: -8px;
  }

    .nav span {
        font-size: 48px;
    }

    .nav #main {
        height: 90px;
        font-size: 32px;
    }
      
/* Style The Dropdown Button */
.dropbtn {
    margin-right: -16px;
    background-color: #f8f8f6;
    padding: 15.5px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f8f6;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    width: 100%;
    font-size: 18px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
}


.dropdown:hover .dropdown-content {
    display: block;
}
