<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar class="nav">
  <mat-toolbar-row>
      <img class="example-icon" src="assets/img/logo.jpg">
      <span class="md-display-1">BREAKING KEYS</span>

  <span class="example-spacer"></span>
    
  <button mat-button>News</button>
  <button mat-button>Events</button>
  <button mat-button>Social</button>
  <button mat-button>Help</button>
  <button mat-button [matMenuTriggerFor]="menu">Profile</button>
  <mat-menu #menu="matMenu">
      <button mat-menu-item>Your profile</button>
      <button mat-menu-item>Settings</button>
      <button mat-menu-item>Sign out</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>