<!--The content below is only a placeholder and can be replaced.-->

<mat-toolbar class="nav">
  <mat-toolbar-row>
      <img class="example-icon" src="assets/img/logo.jpg">
      <span class="md-display-1">BREAKING KEYS</span>

  <span class="example-spacer"></span>
    
  <button mat-button>News</button>
  <button mat-button>Events</button>
  <button mat-button>Social</button>
  <button mat-button>Help</button>
  <div class="dropdown">
      <button mat-button class="dropbtn">Profile</button>
      <div class="dropdown-content">
          <a href="#">Your profile</a>
          <a href="#">Settings</a>
          <a href="#">Sign out</a>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>